.header {
    background-color: lightslategray;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: rgb(240, 247, 254);
}

.header-link {
    color: rgb(240, 247, 254);
}